.list-wrapper {
  margin-top: 12px;
}

.list-item {
  margin-bottom: 10px;
  border-radius: 16px;
  padding: 12px;
}

.list-item .image {
  height: 98px;
}

.list-item .image img{
  width: 130px;
  height: 98px;
  border-radius: 10px;
}

.list-item .detail {
  margin-left: 12px;
  color: white;
  width: 100%;
}

.list-item .detail .basic-info .number{
  font-size: 16px;
  font-weight: bold;
  font-style: oblique;
}

.list-item .detail .basic-info .name{
  font-size: 16px;
  font-weight: bold;
  margin-left: 6px;
}

.list-item .detail .type-wrapper {
  margin-left: 12px;
}

.list-item .detail .type-wrapper .type {
  font-size: 10px;
  font-weight: bold;
  height: 18px;
  line-height: 18px;
  border: 1px solid white;
  border-radius: 3px;
  margin-right: 3px;
  padding: 0px 3px;
}

.state-wrapper {
  margin-top: 6px;
  margin-bottom: 10px;
  width: 100%;
}

.state-column {
  width: 45%;
}

.state-item {
  width: 100%;
  font-size: 12px;

}

.state-item .matrix {
  font-weight: bold;
  opacity: 0.87;
  min-width: 55px;

}

.state-item .value {
  font-weight: bold;
  margin-left: 3px;
  min-width: 30px;
  text-align: center;
}

.state-item .bar {
  width: 100%;
  height: 10px;
  margin-right: 6px;
}

.state-item .bar .gaudge{
  background-color: #F8D030;
  border:1px solid white;
  height: 10px;
  border-radius: 3px;
}

.sum-state-column {
  font-weight: bold;
  height: 45px;
  align-items: center;
}

.sum-state-column .matrix{
  font-size: 12px;
}

.evolution-wrapper .name{
  font-size: 12px;
  font-weight: bold;
  opacity: 0.87;
  min-width: 65px;
}

.evolution-wrapper .evolution{
  font-size: 12px;
  font-weight: bold;
  padding: 0px 3px;
  border: 1px solid white;
  margin-right: 6px;
}