.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.align-center {
  align-items: center;
}

.normal-color {
  background-color: #aa9;
}

.fire-color {
  background-color: #f42;
}

.water-color {
  background-color: #39f;
}

.electric-color {
  background-color: #fc3;
}

.grass-color {
  background-color: #7c5;
}

.poison-color {
  background-color: #a59;
}

.ice-color {
  background-color: #6cf;
}

.fighting-color {
  background-color: #b54;
}

.ground-color {
  background-color: #db5;
}
.flying-color {
  background-color: #89f;
}
.psychic-color {
  background-color: #f59;
}
.bug-color {
  background-color: #ab2;
}
.rock-color {
  background-color: #ba6;
}
.ghost-color {
  background-color: #66b;
}
.dragon-color {
  background-color: #76e;
}
.dark-color {
  background-color: #754;
}
.steel-color {
  background-color: #aab;
}
.fairy-color {
  background-color: #e9e;
}