.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.align-center {
  align-items: center;
}

.normal-color {
  background-color: #aa9;
}

.fire-color {
  background-color: #f42;
}

.water-color {
  background-color: #39f;
}

.electric-color {
  background-color: #fc3;
}

.grass-color {
  background-color: #7c5;
}

.poison-color {
  background-color: #a59;
}